body {
    background-image: url(img/f1rox-MZF9BE1JR5C-Full-Image_GalleryBackground-en-US-1559166773559._SX1080_.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
    align-items: center;
    justify-content: center;
    font-family: "Lucida Console", Monaco, monospace;
}

.orange-photo {
    display: flex;
    z-index: -1;
}

.feud-logo {
    display: flex;
    justify-content: center;
    z-index: 0;
}

.game-questions {
    display: flex;
    justify-content: center;
    color: black;
}


form {
    display: flex;
    justify-content: center;
    padding: 70px;
}

.question {
    display: inline-block;
}

p {
    background-color: none;
}

.container {
    display: flex;
}



